{% extends "Base/base.html" %}

{% block contenido %}
	
	{% for proyecto in proyectos %}
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{proyecto.nombre}}</div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {{proyecto.descripcion}}
                        <div class="panel-footer"> {{proyecto.funcionario}} </div>
                    </div>
                </div>
            </div>
        </div>
                    
		{% empty %}
		<li>lo lamentamos no hay proyectos</li>
	{% endfor %}

	<script type="text/javascript">
	</script>	
{% endblock contenido %}