{% extends "Base/base.html" %}
	
{% block titulo %}Perfil de {{user.first_name}}{% endblock titulo %}
{% block contenido %}

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Perfil</h3>
			</div>
			<div class="panel-body">
				<p>Nombre: {{user.first_name}}</p>
				<p>Apellido: {{user.last_name}}</p>
				<p>Correo: {{user.email}}</p>
				<p>Puntuacion: {{user.puntuacion}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Ultimas actualizaciones</h3>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
</div>

{% endblock contenido %}